*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/java/net/trippedout/cloudvisiondemo/Secret.java
cloudvisionlib/upload.gradle
repo.properties
